Source: tenshi
Section: admin
Priority: optional
Maintainer: Ignace Mouzannar <mouzannar@gmail.com>
Build-Depends: debhelper (>= 7.0.8), quilt (>= 0.46-7)
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.debian.org/collab-maint/ext-maint/tenshi/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/collab-maint/ext-maint/tenshi/trunk/
Homepage: http://dev.inversepath.com/trac/tenshi

Package: tenshi
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, adduser, libio-bufferedselect-perl
Description: log monitoring and reporting tool 
 Tenshi is a log monitoring program, designed to watch one or more log files 
 for lines matching user defined regular expressions and report on the matches.
 The regular expressions are assigned to queues which have an alert interval 
 and a list of mail recipients.
 .
 Queues can be set to send a notification as soon as there is a log line 
 assigned to it, or to send periodic reports.
 .
 Additionally, uninteresting fields in the log lines (such as PID numbers) can
 be masked with the standard regular expression grouping operators ( ). 
 This allows cleaner and more readable reports. All reports are separated by 
 hostname and all messages are condensed when possible.
 .
 The program reads a configuration file and then forks a daemon for monitoring
 the specified log files.
