#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


DESTDIR=$(CURDIR)/debian/tenshi
bindir = /usr/sbin
sysconfdir  =/etc
docdir = /usr/share/doc/tenshi
piddir = /var/run/tenshi
DOCS = README CREDITS 
SAMPLES = tenshi.conf tenshi.gentoo-init tenshi.solaris-init tenshi.ebuild




configure:

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	install -D tenshi ${DESTDIR}${bindir}/tenshi
	install -d ${DESTDIR}${sysconfdir}
	cp -r debian/config-debian/* ${DESTDIR}${sysconfdir}/tenshi
	install -d ${DESTDIR}${docdir}
	install ${DOCS} ${DESTDIR}${docdir}/
	install -d ${DESTDIR}${piddir}
	

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs Changelog
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman tenshi.8
	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
#nothing to install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
